p {
    margin: 0; /* Removes all margin */
    text-indent: 10px;
  }

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevents overflow outside the container */
}

.scrollable-body {
    background-color: #1D1D1D;
    flex: 1; /* Takes up remaining height */
    overflow-y: auto; /* Enables vertical scrolling */
    /*word-wrap: break-word; Ensures text wraps */
    padding: 10px;
}

.scrollable-body .versespan {
    font-size: 12pt;
    font-family: Roboto, sans-serif;
    line-height: 1.5; /* Adjust line height for readability */
    margin: 0; /* Remove default paragraph margins */
}

.scrollable-body .reference {
    background-color: #000000;
    font-size: 14pt;
    font-family: Roboto, sans-serif;
    padding: 10px; /* Optional padding for better readability */
    margin-bottom: 10px; /* Adds spacing between references */
}

.card {
    background-color: #2C2C2C;
    border: 1px solid #444;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14pt;
    font-weight: bold;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust spacing between the icon and title */
}

.right-section {
    display: flex;
    align-items: center;
    gap: 8px; /* Adjust spacing between the share and insert icons */
}

.card-body {
    margin-top: 10px;
    font-size: 12pt;
    font-family: Roboto, sans-serif;
}


.icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    cursor: pointer;
    margin: 5px 5px 5px 5px; /* Adjusted margin for better spacing */
}

.share-icon {
    background: url('./icons/share32.png') no-repeat center center;
    background-size: contain;
}

.insert-icon {
    background: url('./icons/insert32.png') no-repeat center center;
    background-size: contain;
}

.bible-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url('./icons/icon32.png') no-repeat center center;
    background-size: contain;
    margin: 5px 10px 5px 0px; /* Adjusted margin for better spacing */
}
