.content-table {
    height: 100vh;
    overflow-y: hidden; 
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.scrollable-div {
    height: 100%; /* Takes up full viewport height */
    width: 100%; /* Full width of the parent container */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    word-wrap: break-word; /* Ensures text wraps */
  }

.versespan {
    white-space: pre-line;
    font-size: 12pt;
    font-family: var(--joplin-font-family);
}

.reference {
    font-size: 14pt;
    font-family: var(--joplin-font-family);

}

.header {
    background-color: var(--joplin-background-color);
    color: var(--joplin-color);
    font-size: 16pt;
    font-family: var(--joplin-font-family);
    text-align: center;
    height: 50px;
}

.table-container {
    height: 200px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc; /* Optional border */
}

.fixed-header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Ensure background isn't transparent */
    height: 50px;
}

.scrollable-body tr {
    height: auto; /* Allow content to define row height */
}
